.app {
	max-width: 100%;
	height: 100%;
	display: grid;
	grid-template: 100px 1fr 35px / 1fr;
}

.header, .main, .footer {border: 1px solid}

/* Test to check '.footer' */
.footer {background: lightcoral}
